{
  "openapi": "3.0.0",
  "info": {
    "title": "Viterbit API",
    "description": "This is the documentation for Viterbit's api",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.viterbit.com"
    }
  ],
  "paths": {
    "/v1/jobs/killer-questions/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Retrieve a killer questions template",
        "description": "Use this endpoint to retrieve the details of a killer questions template.",
        "operationId": "retrieve-killer-questions-template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "questions"
                ]
              },
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "FindJobQuestionsTemplateResponse",
                  "properties": {
                    "data": {
                      "title": "Find Job Question Template",
                      "properties": {
                        "questions": {
                          "description": "Questions",
                          "type": "array",
                          "items": {
                            "title": "Question",
                            "properties": {
                              "id": {
                                "description": "Question identifier",
                                "type": "string"
                              },
                              "type": {
                                "description": "Question Type",
                                "type": "string",
                                "enum": [
                                  "text",
                                  "numeric",
                                  "boolean",
                                  "date",
                                  "datetime",
                                  "file",
                                  "video",
                                  "score",
                                  "single_choice",
                                  "multiple_choice",
                                  "user",
                                  "multiple_user"
                                ]
                              },
                              "title": {
                                "description": "Question Title",
                                "type": "string"
                              },
                              "description": {
                                "description": "Question description",
                                "type": "string"
                              },
                              "slug": {
                                "description": "Question Slug",
                                "type": "string"
                              },
                              "choices": {
                                "description": "Question Choices",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "punctuation": {
                                "description": "Question Punctuation",
                                "type": "array",
                                "items": {
                                  "title": "Punctuation",
                                  "required": [
                                    "option"
                                  ],
                                  "properties": {
                                    "option": {
                                      "description": "Option",
                                      "oneOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "boolean"
                                        }
                                      ]
                                    },
                                    "value": {
                                      "description": "Value",
                                      "type": "number"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "required": {
                                "description": "Required",
                                "type": "boolean"
                              },
                              "score_options": {
                                "description": "Question Score Options",
                                "type": "array",
                                "items": {
                                  "title": "Score Options Item",
                                  "properties": {
                                    "title": {
                                      "description": "Title",
                                      "type": "string"
                                    },
                                    "description": {
                                      "description": "Description",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "id": {
                          "description": "Job Question Template Identifier",
                          "type": "string"
                        },
                        "name": {
                          "description": "Job Question Template Name",
                          "type": "string"
                        },
                        "created_at": {
                          "description": "Created At",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "created_by_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "This response will be sent when not found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/killer-questions": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List killer questions template",
        "description": "Use this endpoint to retrieve lists of killer questions template.",
        "operationId": "list-killer-questions-template",
        "parameters": [
          {
            "name": "created_after",
            "in": "query",
            "description": "When supplied, only job questions template created after the date provided will be returned.",
            "required": false,
            "schema": {
              "description": "When supplied, only job questions template created after the date provided will be returned.",
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "When supplied, only questions template updated after the date provided will be returned.",
            "required": false,
            "schema": {
              "description": "When supplied, only questions template updated after the date provided will be returned.",
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": null,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": null,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListJobQuestionsTemplateResponse",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "List Job Question Template",
                        "properties": {
                          "id": {
                            "description": "Job Question Template Identifier",
                            "type": "string"
                          },
                          "name": {
                            "description": "Job Question Template Name",
                            "type": "string"
                          },
                          "created_at": {
                            "description": "Created At",
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by_id": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "meta": {
                      "title": "Meta",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/stage-types": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List job stage types",
        "description": "Use this endpoint to retrieve lists of job stage types.",
        "operationId": "list-job-stage-types",
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListJobStageTypesResponse",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "ListJobStageTypes",
                        "properties": {
                          "id": {
                            "description": "Identifier",
                            "type": "string"
                          },
                          "name": {
                            "description": "Name",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "meta": {
                      "title": "Meta",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-fields/{type}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "List custom fields",
        "description": "Use this endpoint to retrieve lists of custom fields.",
        "operationId": "list-custom-fields",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "candidate",
                "job",
                "hiring-plan"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListCustomFieldsResponse",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "Question",
                        "properties": {
                          "id": {
                            "description": "Question identifier",
                            "type": "string"
                          },
                          "type": {
                            "description": "Question Type",
                            "type": "string",
                            "enum": [
                              "text",
                              "numeric",
                              "boolean",
                              "date",
                              "datetime",
                              "file",
                              "video",
                              "score",
                              "single_choice",
                              "multiple_choice",
                              "user",
                              "multiple_user"
                            ]
                          },
                          "title": {
                            "description": "Question Title",
                            "type": "string"
                          },
                          "description": {
                            "description": "Question description",
                            "type": "string"
                          },
                          "slug": {
                            "description": "Question Slug",
                            "type": "string"
                          },
                          "choices": {
                            "description": "Question Choices",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "punctuation": {
                            "description": "Question Punctuation",
                            "type": "array",
                            "items": {
                              "title": "Punctuation",
                              "required": [
                                "option"
                              ],
                              "properties": {
                                "option": {
                                  "description": "Option",
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "value": {
                                  "description": "Value",
                                  "type": "number"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "required": {
                            "description": "Required",
                            "type": "boolean"
                          },
                          "score_options": {
                            "description": "Question Score Options",
                            "type": "array",
                            "items": {
                              "title": "Score Options Item",
                              "properties": {
                                "title": {
                                  "description": "Title",
                                  "type": "string"
                                },
                                "description": {
                                  "description": "Description",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          }
                        },
                        "type": "object"
                      }
                    },
                    "meta": {
                      "title": "Meta",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Create custom field",
        "description": "Use this endpoint to create an custom field.",
        "operationId": "create-custom-field",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "candidate",
                "job",
                "hiring-plan"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Text",
                    "description": "Question of text type",
                    "required": [
                      "type",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "text"
                        ]
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Numeric",
                    "description": "Question of numeric type",
                    "required": [
                      "type",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "numeric"
                        ]
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Date",
                    "description": "Question of date type",
                    "required": [
                      "type",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "date"
                        ]
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Date-Time",
                    "description": "Question of date-time type",
                    "required": [
                      "type",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "datetime"
                        ]
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "File",
                    "description": "Question of file type",
                    "required": [
                      "type",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "file"
                        ]
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Boolean",
                    "description": "Question of boolean type",
                    "required": [
                      "type",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "boolean"
                        ]
                      },
                      "punctuation": {
                        "description": "Question Punctuation",
                        "type": "array",
                        "items": {
                          "title": "Boolean Punctuation",
                          "required": [
                            "option",
                            "value"
                          ],
                          "properties": {
                            "option": {
                              "description": "Option",
                              "type": "boolean"
                            },
                            "value": {
                              "description": "Value",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Single Choice",
                    "description": "Question of single_choice type",
                    "required": [
                      "type",
                      "choices",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "single_choice"
                        ]
                      },
                      "choices": {
                        "description": "Choices",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "punctuation": {
                        "description": "Question Punctuation",
                        "type": "array",
                        "items": {
                          "title": "Choices Punctuation",
                          "required": [
                            "option",
                            "value"
                          ],
                          "properties": {
                            "option": {
                              "description": "Option",
                              "type": "string"
                            },
                            "value": {
                              "description": "Value",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Multiple Choice",
                    "description": "Question of multiple_choice type",
                    "required": [
                      "type",
                      "choices",
                      "title"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of question",
                        "type": "string",
                        "enum": [
                          "multiple_choice"
                        ]
                      },
                      "choices": {
                        "description": "Choices",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "punctuation": {
                        "description": "Question Punctuation",
                        "type": "array",
                        "items": {
                          "title": "Choices Punctuation",
                          "required": [
                            "option",
                            "value"
                          ],
                          "properties": {
                            "option": {
                              "description": "Option",
                              "type": "string"
                            },
                            "value": {
                              "description": "Value",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string",
                        "minLength": 3
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreatedResponse",
                  "properties": {
                    "id": {
                      "description": "Identifier",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-fields/{type}/{id}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Find custom field",
        "description": "Use this endpoint to retrieve an custom field.",
        "operationId": "find-custom-field",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "candidate",
                "job",
                "hiring-plan"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Find Custom Field Response",
                  "properties": {
                    "data": {
                      "title": "Question",
                      "properties": {
                        "id": {
                          "description": "Question identifier",
                          "type": "string"
                        },
                        "type": {
                          "description": "Question Type",
                          "type": "string",
                          "enum": [
                            "text",
                            "numeric",
                            "boolean",
                            "date",
                            "datetime",
                            "file",
                            "video",
                            "score",
                            "single_choice",
                            "multiple_choice",
                            "user",
                            "multiple_user"
                          ]
                        },
                        "title": {
                          "description": "Question Title",
                          "type": "string"
                        },
                        "description": {
                          "description": "Question description",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Question Slug",
                          "type": "string"
                        },
                        "choices": {
                          "description": "Question Choices",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "punctuation": {
                          "description": "Question Punctuation",
                          "type": "array",
                          "items": {
                            "title": "Punctuation",
                            "required": [
                              "option"
                            ],
                            "properties": {
                              "option": {
                                "description": "Option",
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ]
                              },
                              "value": {
                                "description": "Value",
                                "type": "number"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "required": {
                          "description": "Required",
                          "type": "boolean"
                        },
                        "score_options": {
                          "description": "Question Score Options",
                          "type": "array",
                          "items": {
                            "title": "Score Options Item",
                            "properties": {
                              "title": {
                                "description": "Title",
                                "type": "string"
                              },
                              "description": {
                                "description": "Description",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Delete custom field",
        "description": "Use this endpoint to delete an custom field.",
        "operationId": "delete-custom-field",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "candidate",
                "job",
                "hiring-plan"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DeletedResponse",
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Update custom field",
        "description": "Use this endpoint to update an custom field.",
        "operationId": "update-custom-fields",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "candidate",
                "job",
                "hiring-plan"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Date",
                    "description": "Question of date type",
                    "properties": {
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Date-Time",
                    "description": "Question of date-time type",
                    "properties": {
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Text",
                    "description": "Question of text type",
                    "properties": {
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Numeric",
                    "description": "Question of numeric type",
                    "properties": {
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Boolean",
                    "description": "Question of boolean type",
                    "properties": {
                      "punctuation": {
                        "description": "Question Punctuation",
                        "type": "array",
                        "items": {
                          "title": "Boolean Punctuation",
                          "required": [
                            "option",
                            "value"
                          ],
                          "properties": {
                            "option": {
                              "description": "Option",
                              "type": "boolean"
                            },
                            "value": {
                              "description": "Value",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "File",
                    "description": "Question of file type",
                    "properties": {
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Single Choice",
                    "description": "Question of single_choice type",
                    "properties": {
                      "choices": {
                        "description": "Choices",
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "punctuation": {
                        "description": "Question Punctuation",
                        "type": "array",
                        "items": {
                          "title": "Choices Punctuation",
                          "required": [
                            "option",
                            "value"
                          ],
                          "properties": {
                            "option": {
                              "description": "Option",
                              "type": "string"
                            },
                            "value": {
                              "description": "Value",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "title": "Multiple Choice",
                    "description": "Question of multiple_choice type",
                    "properties": {
                      "choices": {
                        "description": "Choices",
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "punctuation": {
                        "description": "Question Punctuation",
                        "type": "array",
                        "items": {
                          "title": "Choices Punctuation",
                          "required": [
                            "option",
                            "value"
                          ],
                          "properties": {
                            "option": {
                              "description": "Option",
                              "type": "string"
                            },
                            "value": {
                              "description": "Value",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "title": {
                        "description": "Question Title",
                        "type": "string"
                      },
                      "description": {
                        "description": "Question description",
                        "type": "string"
                      },
                      "required": {
                        "description": "Required",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UpdatedResponse",
                  "properties": {
                    "id": {
                      "description": "Identifier",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/departments/{id}": {
      "get": {
        "tags": [
          "Departments"
        ],
        "summary": "Retrieve a department",
        "description": "Use this endpoint to retrieve the details of a department.",
        "operationId": "retrieve-department",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "FindDepartmentResponse",
                  "properties": {
                    "data": {
                      "title": "FindDepartment",
                      "properties": {
                        "id": {
                          "description": "Identifier",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name",
                          "type": "string"
                        },
                        "created_at": {
                          "description": "Created At",
                          "type": "string"
                        },
                        "updated_at": {
                          "description": "Updated at",
                          "type": "string",
                          "format": "date-time"
                        },
                        "created_by_id": {
                          "description": "Created by user id",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "This response will be sent when not found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/departments/{departmentId}/profiles/{profileId}": {
      "get": {
        "tags": [
          "Departments"
        ],
        "summary": "Retrieve a profile of department",
        "description": "Use this endpoint to retrieve the details of a department profile.",
        "operationId": "retrieve-profile-of-department",
        "parameters": [
          {
            "name": "departmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response will be sent when success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "FindProfileOfDepartmentResponse",
                  "properties": {
                    "data": {
                      "title": "FindProfileOfDepartment",
                      "properties": {
                        "id": {
                          "description": "Identifier",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name",
                          "type": "string"
                        },
                        "department_id": {
                          "description": "Department identifier",
                          "type": "string"
                        },
                        "created_at": {
                          "description": "Created At",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "description": "Updated at",
                          "type": "string",
                          "format": "date-time"
                        },
                        "created_by_id": {
                          "description": "Created by user id",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "This response will be sent when bad request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "This response will be sent when unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "This response will be sent when forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "This response will be sent when not found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "This response will be sent when unprocessable",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableResponse",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "Error",
                        "properties": {
                          "code": {
                            "description": "Code",
                            "type": "string"
                          },
                          "message": {
                            "description": "Message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/departments": {
      "get": {
        "tags": [
          "Departments"
        ],
        "summary": "List departments",
        "description": "Use this endpoint to retrieve lists of departments.",
        "operationId": "list-departments",
        "parameters": [
          {
            "name": "created_after",
            "in": "query",
            "description": "When supplied, only departments created after the date provided will be returned.",
            "required": false,
            "schema": {
              "description": "When supplied, only departments created after the date provided will be returned.",
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "When supplied, only departments updated after the date provided will be returned.",
            "required": false,
            "schema": {
              "description": "When supplied, only departments updated after the date provided will be returned.",
[...]
